@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.progress-bar-path {
	animation: grow-right 0.5s ease-out 1 forwards;
	background-color: rgba(0, 119, 255, 0.3);
	height: 4px;
}

@keyframes grow-right {
	from {
		opacity: 0;
		width: 0;
	}

	to {
		opacity: 1;
		width: 100%;
	}
}

.progress-bar {
	background-color: var(--primary-color);
	height: 100%;
	transition: width 0.5s;
}

@keyframes slide-up {
	from {
		opacity: 0;
		transform: translateY(90%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-slide-up {
	animation: slide-up 1s ease-out 1 forwards;
}

@keyframes slide-up-error {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.animate-slide-up-error {
	animation: slide-up-error 0.35s linear 1 forwards;
}

// questions

.question-box {
	margin: 0 auto;
	max-width: 72rem;
}

.btn-container.ok {
	margin-top: 15px;
}

.btn-container.ok > button {
	padding-right: 38px;
	position: relative;
}

.btn-container > button > img {
	bottom: 2.5px;
	position: absolute;
	right: 5px;
}

.q-dropdown {
	display: inline-flex;
	margin-top: 30px;
}

.q-dropdown .q-option {
	margin-top: 10px;
	max-width: 100%;
	min-width: 225px;
}

.q-option > img {
	margin-right: -8px;
}

.q-option > span:not(.multi) {
	align-items: center;
	background-color: var(--body-background-color);
	border: thin solid var(--para-text-color);
	border-radius: 4px;
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	height: 24px;
	justify-content: center;
	margin-right: 10px;
	transition: background-color 0.5s, color 0.5s;
	width: 24px;
}

.q-option > span:not(.multi).selected {
	background-color: var(--btn-text-color);
	color: var(--body-background-color);
}

.q-dropdown.multi-dropdown.remove-margin__top {
	margin-top: 0;
}

.q-dropdown.multi-dropdown > div {
	width: 38rem;
}

.multi-option.not-selected {
	opacity: 0.5;
	pointer-events: none;
}

.choose-num {
	color: var(--btn-text-color);
	display: block;
	margin-top: 30px;
}

@media screen and (max-width: 599px) {
	.btn-container.ok {
		margin-top: 22px;
	}

	.btn-container > button > img {
		margin-top: -9px;
	}
}

@media screen and (max-width: 403px) {
	.q-dropdown.multi-dropdown > div {
		width: 36rem;
	}
}

@media screen and (max-width: 400px) {
	.q-dropdown.multi-dropdown > div {
		width: 100%;
	}

	.multi-option > span:not(.multi) {
		align-self: flex-start;
		margin-top: 7.5px;
	}

	.multi-option > .multi {
		display: block;
		line-height: 1.25em;
		padding: 6px 0;
		width: 27rem;
	}
}

@media screen and (max-width: 368px) {
	.multi-option > .multi {
		width: 23rem;
	}
}

.slide-in,
.slide-out {
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.slide-in {
	animation-timing-function: ease-out;
}

.slide-in.in-view__up {
	animation-name: in-up;
}

@keyframes in-up {
	from {
		transform: translateY(100vh);
	}

	to {
		transform: translateY(0);
	}
}

.slide-in.in-view__down {
	animation-name: in-down;
}

@keyframes in-down {
	from {
		transform: translateY(-100vh);
	}

	to {
		transform: translateY(0);
	}
}

.slide-out {
	animation-timing-function: linear;
	pointer-events: none;
}

.slide-out.out-view__up {
	animation-name: out-up;
}

@keyframes out-up {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	25% {
		opacity: 0;
	}

	to {
		height: 0;
		opacity: 0;
		transform: translateY(-100vh);
	}
}

.slide-out.out-view__down {
	animation-name: out-down;
}

@keyframes out-down {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	25% {
		opacity: 0;
	}

	to {
		height: 0;
		opacity: 0;
		transform: translateY(100vh);
	}
}

.rendered {
	animation: visible 1.25s ease-out 1 forwards;
}

@keyframes visible {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
